body {
  font-family: Arial, sans-serif;
  height: 100%;
  padding: 0;
  margin: 0;
}

.topnav {
  display: flex;
  justify-content: flex-end; /* Aligns items to the right */
  align-items: center;
  font-size: small;
  background-color: #b2ebf2; /* Dark background */
  width: 100%; /* Full width */
  height: 20px;
}

.logo {
  display: none; /* Hides the logo */
}

.menuList {
  list-style-type: none; /* Removes bullet points */
  padding: 0; /* Removes default padding */
  display: flex; /* Displays menu items in a row */
}

.menuList li {
  margin: 0 15px; /* Space between menu items */
}

.menuList a {
  color: #fff; /* Link color */
  text-decoration: none; /* Removes underline */
}

.menu-icon {
  display: none; /* Hidden by default */
  cursor: pointer; /* Pointer cursor for the icon */
  color: #fff; /* Icon color */
}

.main {
  text-align: center;
  align-content: center;
  justify-content: center;
  padding-top: 12px;
  height: 10rem;
  background: rgb(2, 0, 36);
  background: linear-gradient(to bottom, #0000ff, #ffffff);
}
.main h1 {
  display: grid;
  color: #00d4ff;
  font-size: large;
  font-weight: bold;
}

/*********************************/
.navbar {
  display: flex;
  justify-content: left;
  overflow: hidden;
  background-color: #333;
  padding: 0;
}
.navbar a,
.dropbtn {
  display: flex;
  font-size: 16px;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: none;
  background-color: #333;
  cursor: pointer;
  position: relative;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: rgb(67, 66, 66);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  padding: 10px 10px;
}

.grid-item {
  background-color: #f9f9f9;
  color: black;
  padding: 10px 10px;
}
.grid-item h2 {
  background: #004274;
  padding: 0 25px;
}
.grid-item a {
  text-decoration: dotted;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}
/*-------------------------media query---------------------------------------*/
@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;

    grid-template-areas:
      "grid-item1 grid-item2"
      "grid-item3 grid-item3";
  }
  .grid-item1 {
    grid-area: grid-item1;
  }
  .grid-item2 {
    grid-area: grid-item2;
  }
  .grid-item3 {
    grid-area: grid-item3;
    justify-content: space-between;
  }
  .grid-item {
    display: flex;
    align-items: center;
  }
}

@media (max-width: 600px) {
  .grid-container {
    display: flex;
    flex-direction: column;
  }

  .grid-item {
    display: block;
  }
}

@media (max-width: 500px) {
  .topnav .logo {
    color: #fff;
    display: block;
  }

  .grid-container {
    grid-template-columns: 1fr;
  }

  nav ul {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    flex-direction: column;
    text-align: center;
    background: #004274;
    gap: 0;
    overflow: hidden;
  }
  nav ul li {
    padding: 20px;
    padding-top: 0;
  }
  .menu-icon {
    display: block;
  }
  #menuList {
    transition: all 0.5s;
  }
  .dropdown.active {
    display: block; /* Show when expanded */
  }

  .navbar {
    flex-direction: column; /* Stack items vertically on small screens */
  }
  .dropdown {
    width: 100%; /* Make dropdowns full width */
  }
  .dropdown-content {
    position: static;
  }

  .grid-item p {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-clamp: 0;
  }
  .grid-item {
    display: block;
  }
  .topnav {
    display: flex;
    justify-content: space-between;
  }
}
